.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #aaccff;
}

h1 {
  margin: 27px;
  font-family: 'Lobster', cursive;
  text-shadow: -5.5px 0 #dedede;
  font-size: 8.5rem;
  color: #cb9ef1;
}

p {
  font-size: 2rem;
  /* color: #CCA8E9; */
  color: rgb(12, 12, 12);
  font-family: 'Indie Flower', cursive;
  font-weight: 1000;
  font-size: 3rem;
}

img {
  width: 80%;
}

footer {
  margin-top: 4.5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
button{
  padding: 0.9rem 2rem;
  border-radius: 60px;
  background-color: #cb9ef1;
  color: #ffffff;
  border-color: #ffffff;
  text-shadow: -1px 0 #1c1c1c;
  font-size: larger;
}

